.title-content {
  position: relative;
  margin-top: 0.5rem;
}

.title-content img {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(3px);
  z-index: -20;
}

.title-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 1.8rem);
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.title-text img {
  width: clamp(8rem, 25vw, 50%);
  margin-bottom: -2rem;
  filter: none;
}

.title-text p {
  margin: 0;
  font-size: clamp(0.6rem, 1.2vw, 1.8rem);
}

.button-div {
  display: flex;
  margin-top: 2rem;
  gap: clamp(1rem, 8vw, 8rem);
}

.button-div button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 15px;
  color: #fff;
  background-color: #2a82e4;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-div button:active {
  background-color: #06a3fe;
}

.arrow-icon {
  font-size: clamp(0.8rem, 2vw, 4rem);
}

.other-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(30px, 5vw, 70px);
  padding: clamp(20px, 5vw, 60px) 0;
  width: 100%;
  background: linear-gradient(172.23deg, rgba(192, 229, 227, 1) 0%, rgba(255, 245, 147, 0.28) 100%);
}

.info-box {
  width: clamp(18rem, 30vw, 60rem);
  height: clamp(8rem, 15vw, 30rem);
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  background: #fafafa;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.7rem 4rem;
  text-align: center;
}

.info-box p {
  text-align: left;
  font-size: clamp(0.8rem, 1.2vw, 2.5rem);
  margin: 0.5rem 0 0;
}
