@import './variables.css';

/* 让锚点跳转时，标题下方留出空间，不被固定导航栏遮住 */
h1[id],
h2[id],
h3[id],
h4[id] {
  scroll-margin-top: 80px;
}

.markdown-body {
  background-color: var(--vp-c-bg-alt);
  color: var(--vp-c-text-1);
}

.markdown-body a {
  color: var(--nav-primary);
}

.markdown-toc a {
  display: inline-block;
  padding: 3px 0;
  color: var(--btn-primary-bg);
  text-decoration: underline;
  font-weight: 550;
}

.custom-block {
  margin: 16px 0;
  padding: var(--vp-custom-block-padding);
  border-radius: var(--vp-custom-block-radius);
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  line-height: 1.6;
  border-left: var(--vp-custom-block-border-width) solid transparent;
}

.custom-block p {
  margin: 8px 0;
}

.custom-block p:last-child {
  margin-bottom: 0;
}

.custom-block-title {
  font-weight: 600;
  margin-bottom: var(--vp-custom-block-gap);
  font-size: 0.95em;
}

/* Tip */
.custom-block.tip {
  border-left-color: var(--vp-c-tip-1);
  background-color: var(--vp-c-tip-soft);
}
.custom-block.tip .custom-block-title {
  color: var(--vp-c-tip-1);
}

/* Info */
.custom-block.info {
  border-left-color: var(--vp-c-info-1);
  background-color: var(--vp-c-info-soft);
}
.custom-block.info .custom-block-title {
  color: var(--vp-c-info-1);
}

/* Warning */
.custom-block.warning {
  border-left-color: var(--vp-c-warning-1);
  background-color: var(--vp-c-warning-soft);
}
.custom-block.warning .custom-block-title {
  color: var(--vp-c-warning-1);
}
